<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">

<div class="header" %>
  <p><font size="7">友人を探す</font></p>
　　<%= link_to 'メインメニューへ', tops_main_path ,class: "btn btn-mini btn-danger"%>
  <hr color="back" >
</div>
  </head>
  <div> 
<%= form_tag(students_search_path, method: "get") do %>
<%= label_tag :st_id, "ID" %><%= text_field_tag :st_id, params[:st_id] %>
<%= label_tag :st_name, "名前" %><%= text_field_tag :st_name, params[:st_name] %>
<%= submit_tag "検索" %>
<% end %>
</div>