<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">

<div class="header" %>
  <p><font size="7">アカウントの削除</font></p>
　　<%= link_to 'メインメニューへ', tops_main_path ,class: "btn btn-mini btn-danger"%>
  <hr color="back" >
</div>
  </head>
<table border="1"class="ss">
	<tr>
		<th>ID</th>
		<th>ニックネーム</th>
		<th>パスワード</th>
		<th>操作</th>
	</tr>

<% @students.each do |e| %>
	<tr>
		<td><%= e.st_id%></td>
		<td><%= e.st_name %></td>
		<td><%= e.password %></td>
		<td>
		  <%if current_user.id == e.id %>
			<%= link_to '削除', student_path(e), method: :delete, data: { confirm: '削除していいですか？' } %>
		</td>
	</tr>
<% end %>
<% end %>
</table>


