<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">

<div class="header" %>
  <p><font size="7">新規アカウント作成</font></p>
<%= link_to 'トップへ', root_path ,class: "btn btn-mini btn-danger"%>
<%= link_to 'ログイン画面に戻る', tops_st_login_path ,class: "btn btn-mini btn-danger"%>
  <hr color="back" >
</div>
  </head>
<% if @student.errors.present? %>
<h3>エラーがあります</h3>
<ul>
	<% @student.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
	<% end %>
</ul>
<% end %>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            
            <div class="account-wall">
            	<h1 class="text-center login-title">Create new account</h1>
            	<br>
                <div class="form-signin">
<%= form_for @student do |f| %>
	<tr>
		<td><%= f.label :st_id, 'ID' %></td>
		<td><%= f.text_field :st_id , class: 'form-control', autofocus: true %></td>
	</tr>
		<br>
	<tr>
		<td><%= f.label :st_name, 'ニックネーム' %></td>
		<td><%= f.text_field :st_name, class: 'form-control', autofocus: true %></td>
	</tr>
	<br>
	<tr>
			<td><%= f.label :password, 'パスワード' %></td>
		<td><%= f.password_field :password, class: 'form-control', autofocus: true %></td>
	</tr>
	<br>
		<tr>
		<td><%= f.label :password_confirmation, 'パスワード（確認）' %></td>
		<td><%= f.password_field :password_confirmation, class: 'form-control' , autofocus: true %></td>
	</tr>
	<br>
	<tr>
		<td colspan="2"><%= f.submit '登録',class:"btn btn-lg btn-primary btn-block" %></td>
	</tr>
<% end %>
                </label>
                <br>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>