<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">

<div class="header" %>
  <p><font size="7">フレンドログイン</font></p>
  　　	<%= link_to 'メインメニューへ', tops_st_login_path ,class: "btn btn-mini btn-danger"%>
  <hr color="back" >
</div>
  </head>
<% flash.each do |type, msg| %>
	<p style="color:red;">
		<%= msg %>
	</p>
<% end %>

<%= form_tag tops_friend_path do %>

<table>
	<tr>
		<td><%= label_tag :st_id, 'ID' %></td>
		<td><%= text_field_tag :st_id %></td>
	</tr>
<tr>
		<td><p></p></td>
	</tr>
	<tr>
		<td><p></td>
	</tr>
	<tr>
		<td><p></td>
	</tr>
	<tr>
		<td><%= label_tag :st_name, '名前' %></td>
		<td><%= password_field_tag :st_name %></td>
	</tr>
<tr>
		<td><p></p></td>
	</tr>
	<tr>
		<td><p></td>
	</tr>
	<tr>
		<td><p></td>
	</tr>
	<tr>
		</tr>
		<tr>
		<td colspan="2"><%= submit_tag 'ログイン' %></td>
	</tr>
</table>

<% end %>
