    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">
<div class="header" %>
  <p><font size="7">管理者ログイン</font></p>


<%= link_to 'トップへ', root_path, class: "btn btn-mini btn-danger" %>
<%= link_to '管理ユーザ登録', new_kanri_path , class: "btn btn-mini btn-danger"%>

</div>
<hr >

<% flash.each do |type, msg| %>
	<p style="color:red;">
		<%= msg %>
	</p>
<% end %>

<%= form_tag tops_ka_login_path do %>

<table>
	<tr>
		<td><%= label_tag :ka_id, 'ID' %></td>
		<td><%= text_field_tag :ka_id %></td>
	</tr>
	<tr>
		<td><p></p></td>
	</tr>
	<tr>
		<td><p></td>
	</tr>
	<tr>
		<td><p></td>
	</tr>
	<tr>
		<td><%= label_tag :ka_pass, 'パスワード' %></td>
		<td><%= password_field_tag :ka_pass %></td>
	</tr>
	<tr>
	</tr>
	<tr>
		<td><p></p></td>
	</tr>
	<tr>
		<td><p></td>
	</tr>
	<tr>
		<td><p></td>
	</tr>
	<tr>
		<td></td>
		<td colspan="2"><%= submit_tag 'ログイン' %></td>
	</tr>
	<tr>
	</tr>
	<tr>
		<td><p></p></td>
	</tr>
	<tr>
		<td><p></td>
	</tr>
	<tr>
		<td><p></td>
	</tr>
	<tr>
		<td></td>

		</tr>
</table>

<% end %>

