<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">

<div class="header" %>
  <p><font size="7">時間割アプリ</font></p>
  <hr color="block" >
</div>
  </head>
<body>
  
<br>
<br><br>


<div class="place" %>
  <div class="container">
  <%= link_to '生徒用ログイン', tops_st_login_path,class: 'btn-push' %>
  <br><br><br><br>
  <%= link_to '教員用ログイン', tops_ka_login_path ,class: 'btn-push' %>
  </div>

</div>
</div>

</body>
</div>
