    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">
 <div class="size">
 ようこそ<%= current_user.st_name %>さん[<%= link_to 'ログアウト', tops_st_logout_path %>]
 </div>
<%= form_tag tops_st_login_path do %>
<div class="header" %>
  <p><font size="7">メインメニュー</font></p>

</div>
<hr >
<input type="checkbox" id="cp_navimenuid">
<label class="menu" for="cp_navimenuid">

<div class="menubar">
	<span class="bar"></span>
	<span class="bar"></span>
	<span class="bar"></span>
</div>

<ul>
  
<li><%= link_to "友達検索 ",students_path ,class: 'btn btn-warning'%></li>
<li><%= link_to "時間割の表示", item_path(:show) ,class: 'btn btn-warning'%></li>
<li><%= link_to "時間割作成",new_item_path(:new) ,class: 'btn btn-warning'%></li>
<li><%= link_to "ユーザ削除",students_itiran_path,class: 'btn btn-warning' %></li>
</li>
</ul>

</label>
<% end %>