    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">

<div class="header" %>
  <p><font size="7">管理者一覧</font></p>
  　<%= link_to '講義一覧に戻る', tops_main_path,class: "btn btn-mini btn-danger" %>
  <hr color="block" >
</div>
<p><%= flash[:touroku] %></p>
<p><%= flash[:sakuzyo] %></p>

<table border="1"class="ss">

	<tr>
		<th>ID</th>
		<th>パスワード</th>
		<th>操作</th>
	</tr>

<% @kanris.each do |e| %>
	<tr>
		<td><%= e.ka_id %></td>
		<td><%= e.password %></td>
		<td>
			<%if current_user2.id == e.id %>
			<%= link_to '削除', kanri_path(e), method: :delete, data: { confirm: '削除していいですか？' } %>
			<% end %>
		</td>
	</tr>
<% end %>

</table>
