<div class="header" %>
  <p><font size="7">管理者登録</font></p>
  　<%= link_to 'ログイン画面に戻る', tops_ka_login_path,class: "btn btn-mini btn-danger" %>
  <hr color="block" >
</div>
  <p>一度更新してください</p>
  
<% if @kanri.errors.present? %>
<h3>エラーがあります</h3>
<ul>
	<% @kanri.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
	<% end %>
</ul>
<% end %>

<%= form_for @kanri do |f| %>

<table>
	<tr>
		<td><%= f.label :ka_id, 'ID' %></td>
		<td><%= f.text_field :ka_id %></td>
</tr>
	<tr>
		<td><p></p></td>
	</tr>
	<tr>
		<td><p></td>
	</tr>
	<tr>
		<td><p></td>
	</tr>
	<tr>
			<td><%= f.label :password, 'パスワード' %></td>
		<td><%= f.password_field :password %></td>
	</tr>
	<tr>
		<td><p></p></td>
	</tr>
	<tr>
		<td><p></p></td>
	</tr>
	<tr>
		<td><p></p></td>
	</tr>
	<tr>
		<td><%= f.label :password_confirmation, 'パスワード（確認）' %></td>
		<td><%= f.password_field :password_confirmation %></td>
		</tr>
	<tr>
		<td><p></p></td>
	</tr>
	<tr>
		<td><p></p></td>
	</tr>
	<tr>
		<td><p></p></td>
	</tr>
	<tr>
	</tr>
	<tr>
		<td><p></p></td>
		<td colspan="2"><%= f.submit '登録' %></td>
	</tr>
</table>

<% end %>