<table border="1" class="ss">

	<tr>
		<th>subject_id</th>
		<th>科目</th>
		<th>教授名</th>
		<th>単位数</th>
		<th>曜日</th>
		<th>時限</th>
		<th>操作</th>
	</tr>

<% @subjects.each do |e| %>
	<tr>
		<td><%= e.id %></td>
		<td><%= e.kamoku %></td>
		<td><%= e.professor %></td>
		<td><%= e.unit %></td>
		<td><%= e.youbi %></td>
		<td><%= e.zigen %></td>
		<td>
			<%= link_to '削除', subject_path(e), method: :delete, data: { confirm: '削除していいですか？' } %>
		</td>
	</tr>

<% end %>

</table>

<p>
	<%= link_to '講義登録', new_subject_path %>
</p>
<p>
	<%= link_to 'トップへ', root_path %>
</p>
