    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">
<head>
<div class="header" %>
  <p><font size="7"><%= current_user.st_name %>の時間割</font></p>
  
  <p>　
	<%= link_to 'トップメニューへ', root_path ,class: "btn btn-mini btn-danger"%>
</p>

</div>
<hr>
</head>
<br>
<br>
<br>
<br>
<br>
<table border="1"class="ss">
	<tr>
		<th>科目</th>
		<th>教授名</th>
		<th>単位数</th>
		<th>曜日</th>
		<th>時限</th>
		<th>登録</th>
	</tr>
 <% @subjects.each do |p| %>
	<tr>
		<td><%= p.kamoku %></td>
		<td><%= p.professor %></td>
		<td><%= p.unit %></td>
		<td><%= p.youbi %></td>
		<td><%= p.zigen %></td>
		<%= form_tag items_path(subject_id: p.id) do %>
		<td><%= submit_tag "受講する" %></td>
	</tr>
    <% end %>
<% end %>	
</table>