    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">

<head>
<div class="header" %>
  <p><font size="7"><%= current_user.st_name %>の時間割</font></p>
  
  <p>　
	<%= link_to 'トップへ', root_path,class: "btn btn-mini btn-danger"%>
</p>

</div>
<hr>
</head>
<body>
<table border="1"class="ss">

	<tr>
		<th>科目</th>
		<th>教授名</th>
		<th>単位数</th>
		<th>曜日</th>
		<th>時限</th>
		<th>操作</th>
	</tr>
	<% sum1 = 0%>
<% @items.each do |e|%>
<% sum = 0%>
<% p = Subject.find(e.subject_id) %> 
<% if current_user.id == e.student_id %>
<tr>
		<td><%= p.kamoku %></td>
		<td><%= p.professor %></td>
		<td><%= p.unit %></td>
		<td><%= p.youbi %></td>
		<td><%= p.zigen %></td>
		<td>
			<%= link_to '削除', item_path(e), method: :delete, data: { confirm: '削除していいですか？' } %>
　　　　</td>
</tr>
<% total = p.unit %> 
<% sum1 = sum1 + sum + total %> 
<% end %>
<% end %>
</table>
<div class="size">
	  合計<%=  sum1 %>単位
</div>
</body>