/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


.login_button {
  font-size: 30px;
  display: block;
  width: 300px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #EC407A;
  /* ボタンの文字の色 */
  border: 2px solid #EC407A;
  /* ボタンの囲みの色 */
  border-radius: 3px;
  transition: .4s;
}

.login_button:hover {
  background: #EC407A;
  /*マウスが囲いに入った色*/
  color: #fff;
  /*マウスが囲いに入ったときの文字の色*/
  text-decoration: none;
  text-align: center;
}

.place {
  height: 28px;
  margin: 0px auto;
  text-align: center;
}

.size {
  font-size: 25px;
}

.s {
  font-size: 18px;
}

.mx-auto {
  width: 200px;
  margin-left: 40%;
  margin-right: auto;
}

header {
  height: 50px;
  /* 高さ */
  width: 100%;
  /* 長さ */
  background-color: orange;
  position: fixed;
  /* ヘッダーを固定(これが重要) */
  top: 0;
  /* 固定する位置 */
  left: 0;
  /* 固定する位置 */
  right: 0;
  /* 固定する位置 */
}

table {
  margin-left: auto;
  margin-right: auto;

}

.ss {
  margin-left: auto;
  margin-right: auto;
  background-color: white;

}

.link {
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

p {
  color: #ffa500;
}



.button {
  position: relative;
  background-color: #1abc9c;
  border-radius: 4px;
  color: #fff;
  line-height: 52px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.button:hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}

.button:active {
  top: 3px;
  box-shadow: none;
}

.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
}


/* ここから下がボタンのCSS　*/

.btn-push {
  display: inline-block;
  max-width: auto;
  text-align: left;
  background-color: #ffa300;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 40px 50px;
  border-radius: 4px;
  border-bottom: 4px solid #d37800;
}

.btn-push:active {
  transform: translateY(4px);
  border-bottom: none;

}



ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: relative;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: #da3c41;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #1b2538;
  color: white;
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}

.btn-pusha {
  display: inline-block;
  max-width: auto;
  text-align: left;
  background-color: #ffa300;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 40px 50px;
  border-radius: 4px;
  border-bottom: 4px solid #d37800;
}

.btn-pusha:active {
  transform: translateY(4px);
  border-bottom: none;

}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu {
  display: block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 30px auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 3px solid transparent;
  border-radius: 50%;
  background-color: #1b2538;
}

.menu div.menubar {
  width: 30px;
  margin: 17px auto;
}

.menu div.menubar .bar {
  display: block;
  width: 100%;
  height: 5px;
  margin-top: 3px;
  border-radius: 2px;
  background-color: #ffffff;
}

.menu ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
  opacity: 0;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  display: inline-block;
  padding: 0.7em 0.5em;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none;
  color: #1b2538;
  border-bottom: 4px solid transparent;
  height: 56px;
  line-height: 2em;
}

.menu ul li p {
  background-color: white;
}

.menu ul li a:hover {
  font-size: 20px;
  color: #ffffff;
  background-color: #ffa500;
}

.menu ul li a:target {
  border-bottom-color: #1b2538;
}

/* クリックした時の動き */

#cp_navimenuid {
  display: none;
}

#cp_navimenuid:checked~.menu {
  width: 100%;
  height: 60px;
  border: 3px solid #1b2538;
  border-radius: 5px;
  background-color: transparent;
}

#cp_navimenuid:checked~.menu>ul {
  display: block;
  opacity: 1;
}

#cp_navimenuid:checked~.menu>.menubar {
  display: none;
}
